h1 {
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    text-shadow: 8px 6px 12px rgba(0, 0, 0, 0.658);
    color: rgb(214, 213, 213);
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient( 135deg, #da9674, rgb(36, 36, 118));
}

.contador {
    background-color: #CCCCCC;
    padding: 40px 30px;
    width: 50%;
    min-width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    box-shadow: 25px 25px 30px rgba(0, 0, 0, 0.15);
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.linha span {
    font-weight: 500;
}

input[type="range"] {
    width: 70%;
    height: 3.5px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFF;
    border-radius: 3px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: rgb(6, 6, 51);
    border-radius: 50%;
    cursor: pointer;
}

#resultado {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(6, 6, 51);
}

#categorias {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    margin-bottom: -15px;
}